//fonts
$font-family-base: "Frutiger-LT-Regular", arial;
$font-family-bold: "Frutiger-LT-Bold", arial;
$font-family-light: "Frutiger-LT-Light", arial;

//icons font size
$icon-sm: 18px;
$icon-md: 22px;

//text font size
$font-md: 14px;
$font-size-base: 16px;
$font-size-lg: 18px;

//colors
$primary: #385898;
$light: #fff;
$dark:#181818;
$danger: rgb(197, 32, 32);

//border
$border-width: 1px;
$border-width-lg: 2px;
$border-radius-md: 10px;
$border-radius-lg: 20px;

