//font family
@font-face {
  font-family: 'Frutiger-LT-Light';
  src: url('../../fonts/Frutiger-LT-Arabic-45-Light.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Frutiger-LT-Regular';
  src: url('../../fonts/Frutiger-LT-Arabic-55-Roman.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Frutiger-LT-Bold';
  src: url('../../fonts/Frutiger-LT-Arabic-65-Bold.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../../fonts/fontawesome-webfont.ttf');
  font-display: swap;
}


